{
    "plugins": [
      [
        "@babel/plugin-transform-typescript",
        {
          "onlyRemoveTypeImports": true,
          "allowDeclareFields": true,
          "declaration": true
        }
      ]
    ]
  }