.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.8fr 6fr;
}
.wrapper .main {
  margin-top: 1.9rem;
  background-color: #F5F7FA;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 90vh;
  padding-bottom: 0.7rem;
}
.wrapper .main .balanceItems {
  padding-top: 1.5rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.wrapper .main .balanceItems .balanceItem {
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 1.7rem 6rem 1.7rem 6rem;
  border-radius: 1.563rem;
}
.wrapper .main .balanceItems .balanceItem .iconBox img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .main .balanceItems .balanceItem .itemsBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.wrapper .main .balanceItems .balanceItem .itemsBox .text {
  font-size: 1.3rem;
  font-weight: 700;
  color: #232323;
}
.wrapper .main .balanceItems .balanceItem .itemsBox .number {
  font-size: 1.3rem;
  color: #718EBF;
  font-weight: normal;
}
.wrapper .main .cardList .listTitleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .main .cardList .listTitleBox .listTitle {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .main .cardList .investmentsBox .investmentsItems {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.7rem;
  border-radius: 1.563rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .icon img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 189px;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .text .title {
  font-size: 1.5rem;
  text-wrap: nowrap;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .text .subtitle {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .bank {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .bank .title {
  font-size: 1.5rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .bank .bankName {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .card .text {
  font-size: 1.3rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .card .number {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .name {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .name .title {
  font-size: 1.3rem;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .name .subTitle {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .detailsBtn {
  border-radius: 4rem;
  padding: 0.3rem 1.3rem 0.3rem 1.3rem;
  border: #1814F3 solid 1px;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .detailsBtn .text {
  font-size: 1.2rem;
  color: #1814F3;
  will-change: transform;
}
.wrapper .main .cardList .investmentsBox .investmentsItems .investmentsItem .detailsBtn:hover {
  cursor: pointer;
  color: #1814F3;
  transition: all 0.3s ease-in-out;
  animation: pulse 1s infinite;
  transform: translateZ(0);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}/*# sourceMappingURL=Services.module.css.map */