.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 0.8fr 6fr;
      
    .main {
        margin-top: 1.9rem;
        background-color: #F5F7FA;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        min-height: 90vh;
        padding-bottom: 0.7rem;

        .charts {
                padding-top: 1.5rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 2rem;

            .radar {
                canvas {
                    -o-object-fit: cover !important;
                    max-width: min-content;
                    object-fit: cover !important;
                    border-radius: 1rem !important;
                    background-color: #ffffff !important;
                    height: 100% !important;
                    padding: 1rem !important;
                }
            }

            .bubble {
                canvas {
                    -o-object-fit: cover !important;
                    max-width: min-content;
                    object-fit: cover !important;
                    border-radius: 1rem !important;
                    background-color: #ffffff !important;
                    height: 100% !important;
                    padding: 1rem !important;
                }
            }
        }
    }
}