.wrapper {
    .main {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      align-items: center;
      justify-content: space-between;
  
      .info {
        display: flex;
        align-items: center;
        gap: 0.8rem;
      }
  
      .dateBox {
        p {
          font-size: 0.9rem;
          color: #718EBF;
        }
      }
    }
  }