.wrapper {
    display: flex;
    flex-direction: row;
  }
  
  .transferItem {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .name {
    b {
      font-size: 1rem;
      font-weight: normal;
      text-wrap: nowrap;
    }
  }
  
  .position {
    color: #718EBF;
    font-size: 0.938rem;
  }