.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.8fr 6fr;
}
.wrapper .main {
  margin-top: 1.9rem;
  background-color: #F5F7FA;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 90vh;
  padding-bottom: 0.7rem;
}
.wrapper .main .cardsBlock {
  margin-bottom: 1rem;
}
.wrapper .main .cards {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  margin-top: 0.3rem;
  margin-bottom: 1.5rem;
}
.wrapper .main .expenseBox {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}
.wrapper .main .expenseBox .cardStats .statsTitleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .main .expenseBox .cardStats .statsTitleBox .statsTitle {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .main .expenseBox .cardStats canvas {
  max-width: 425px !important;
  max-height: 425px !important;
  padding: 1.75rem !important;
  border-radius: 1.75rem !important;
  background-color: #ffffff !important;
}
.wrapper .main .expenseBox .cardList .listTitleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .main .expenseBox .cardList .listTitleBox .listTitle {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 1.7rem;
  border-radius: 1.563rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .icon img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .info {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .text .title {
  font-size: 1.5rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .text .subtitle {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .bank {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .bank .title {
  font-size: 1.5rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .bank .bankName {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .card {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .card .text {
  font-size: 1.3rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .card .number {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .name {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .name .title {
  font-size: 1.3rem;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .name .subTitle {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .detailsBtn .text {
  font-size: 1.2rem;
  color: #1814F3;
  will-change: transform;
}
.wrapper .main .expenseBox .cardList .investmentsBox .investmentsItems .investmentsItem .detailsBtn:hover {
  cursor: pointer;
  color: #1814F3;
  transition: all 0.3s ease-in-out;
  animation: pulse 1s infinite;
  transform: translateZ(0);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.wrapper .main .cardActions {
  display: grid;
  grid-template-columns: 1.5fr 0.55fr;
  grid-gap: 3rem;
}
.wrapper .main .cardActions .cardSettings {
  margin-top: 1.2rem;
}
.wrapper .main .cardActions .cardSettings .titleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .main .cardActions .cardSettings .titleBox .title {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .main .cardActions .cardSettings .container {
  background-color: #fff;
  border-radius: 1.563rem;
  padding: 1.563rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}
.wrapper .main .cardActions .cardSettings .container .settingsItems {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.wrapper .main .cardActions .cardSettings .container .settingsItems .settingsItem {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.wrapper .main .cardActions .cardSettings .container .settingsItems .settingsItem .textBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrapper .main .cardActions .cardSettings .container .settingsItems .settingsItem .textBox .title {
  font-size: 1.1rem;
  font-weight: 500;
}
.wrapper .main .cardActions .cardSettings .container .settingsItems .settingsItem .textBox .subtitle {
  color: #718EBF;
}/*# sourceMappingURL=CreditCard.module.css.map */