.inputTitle {
    margin-bottom: 0.5rem;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
}

.inputField {
    width: 100%;
    padding: 1.3rem 1.5rem 1.3rem 1.5rem;
    border-radius: 1rem;
    border: 1px solid #DFEAF2;
    font-family: Inter, sans-serif;
    font-size: 1.2rem;
    color: #718EBF;
}