@import '../../styles/screen.scss';
.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 0.8fr 6fr;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
    margin-right: 0;

    .main {
      margin-top: 1.9rem;
      background-color: #F5F7FA;
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      min-height: 90vh;
      
      .cardsBlock {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 4.375rem;
        margin-bottom: 1rem;
        max-height: 300px;
        
        .cards {
          display: flex;
          gap: 1.875rem;
          margin-top: 0.3rem;
          margin-bottom: 1.5rem;
        }
      }
    
      .transactions {

        .transactionsTitle {
          font-family: Mont, sans-serif;
          font-size: 1.5rem;
          color: #343C6A;
          font-weight: bold;
          padding-bottom: 1.2rem;
          padding-top: 1.2rem;
        }

        .transactionsBox {
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          padding: 1rem;
          border-radius: 1rem;
          max-width: fit-content;
          gap: 0.4rem;
          max-height: 300px;
        }
      }
    
      .activity {
        display: grid;
        grid-template-columns: 2.2fr 0.71fr;
        margin-bottom: 1rem;
    
        .weeklyActivity {
          .activityTitle {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
    
            b {
              font-family: Mont, sans-serif;
              font-size: 1.5rem;
              font-weight: 600;
              color: #343C6A;
              margin-bottom: 0.5rem;
            }
          }
    
          .charts {
            div {
              div {
                canvas {
                  height: 456px !important;
                  aspect-ratio: 1000/306 !important;
                  object-fit: contain;
                  object-fit: contain !important;
                  padding: 1.75rem !important;
                  border-radius: 1rem !important;
                  background-color: #ffffff !important;
                }
              }
            }
          }
        }
    
        .statistics {
          .statisticsTitle {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
    
            b {
              font-family: Mont, sans-serif;
              font-size: 1.5rem;
              font-weight: 600;
              color: #343C6A;
              margin-bottom: 0.5rem;
            }
          }
    
          .diagram {
            canvas {
              width: 310px !important;
              height: 360px !important;
              padding: 1.75rem !important;
              border-radius: 1rem !important;
              background-color: #ffffff !important;
              object-fit: cover !important;
            }
          }
        }
      }
    
      .footer {
        display: grid;
        grid-template-columns: 1fr 1.55fr;
        grid-gap: 3rem;
        padding-bottom: 1.5rem;
    
        .transferTitle {
          font-family: Mont, sans-serif;
          font-size: 1.5rem;
          color: #343C6A;
          font-weight: bold;
          padding-top: 1.2rem;
          padding-bottom: 1.2rem;
        }
    
          .workersList {
              display: flex;
              gap: 2.125rem;
              align-items: center;
          }
    
          .transeferArrow {
              transition: transform 0.2s ease-in-out;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background-color: #fff;
              box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
              cursor: pointer;
              transition: all 0.4s;
    
              &:hover {
                  scale: 1.3;
    
                  img {
                  width: 20px;
                  height: 20px;
                  margin: 0 auto;
                  }
    
                  button {
                  background-color: transparent;
                  border: none;
                  padding: 0;
                  cursor: pointer;
                  }
              }
              }
    
              .transferList {
                  background-color: #ffffff;
                  border-radius: 1rem;
                  padding: 1.75rem;
                  max-width: fit-content;
  
              .sendForm {
                  display: flex;
                  padding-top: 2rem;
                  gap: 2rem;
                  align-items: center;
                  flex-wrap: nowrap;
      
                  b {
                      font-size: 1rem;
                      color: #718EBF;
                      font-weight: normal;
                  }
      
                  .inputItem {
                      position: relative;
      
                  input {
                      padding: 0.8rem 1rem 0.8rem 1rem;
                      border-radius: 2rem;
                      background-color: #EDF1F7;
                      color: #718EBF;
                  }
      
                  button {
                      display: flex;
                      flex-wrap: nowrap;
                      gap: 0.5rem;
                      justify-content: center;
                      position: absolute;
                      top: 0;
                      left: 70%;
                      transform: translateX(-50%);
                      margin-bottom: 1rem;
                      border: none;
                      cursor: pointer;
                      background-color: #1814F3;
                      border-radius: 2rem;
                      padding: 0.75rem 2.6rem 0.75rem 2.6rem;
                      transition: transform 0.5s ease-in-out;
      
                      &:hover {
                      img {
                          transition: transform 0.5s ease-in-out;
                          transform: rotate(360deg) scale(1.1);
                      }
      
                      b {
                          font-size: 1rem;
                          color: #ffffff;
                      }
                      }
                  }
                  }
              }
              }
      
              .balanceHistory {
                  .balanceTitle {
                          font-family: Mont, sans-serif;
                          font-size: 1.5rem;
                          color: #343C6A;
                          font-weight: bold;
                          padding-top: 1.2rem;
                      }
                  .balanceContainer {
                      canvas {
                          height: 300px !important;
                          width: 800px !important;
                      }
  
                  }
              }
          }
        }
    }
