.myCards {

  .modalOverlay {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    display: contents;
    background-color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

    .cardsTitle {
      font-family: Mont, sans-serif;
      font-size: 1.5rem;
      font-weight: 600;
      color: #343C6A;
      position: relative;
      top: 1rem;
    }

    .cardsTitleBox {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.2rem;
      margin-top: 1.2rem;
      align-items: baseline;
  
     
      .addCard {
        font-family: Mont, sans-serif;
        font-size: 1.4rem;
        color: #343C6A;
        font-weight: 600;
      }
    }
  
    .cardItems {
      display: flex;
      flex-direction: column;
      min-width: 350px;
      width: 100%;
      background: #0A06F4;
      padding: 1.8rem;
      border-radius: 1rem;
  
      .balanceBox {
        display: flex;
        justify-content: space-between;
        padding-bottom: 2rem;
  
        .balanceItems {
          p {
            font-size: 1.3rem;
            color: #FFFFFF;
          }
  
          .balance {
            font-family: Mont, sans-serif;
            font-size: 1.6rem;
            font-weight: 600;
            color: #FFFFFF;
          }
  
          img {
            object-fit: contain;
            width: 45px;
            height: 45px;
          }
        }
      }
  
      .clientInfo {
        display: flex;
        gap: 5rem;
        padding-bottom: 2.18rem;
  
        .nameBox {
          p {
            opacity: 0.7;
            font-size: 0.75rem;
            color: #FFFFFF;
          }
  
          .cardHolderName {
            font-family: Mont, sans-serif;
            font-size: 0.875rem;
            color: #FFFFFF;
          }
        }
  
        .validationDateBox {
          p {
            opacity: 0.7;
            font-size: 0.75rem;
            color: #FFFFFF;
          }
  
          .validationDate {
            font-family: Mont, sans-serif;
            font-size: 0.875rem;
            color: #FFFFFF;
          }
        }
      }
    }
  
    .cardFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
  
      &.hideGradient::before {
        display: none;
      }
  
      &::before {
        content: "";
        position: absolute;
        top: -6px;
        left: -28px;
        width: var(--gradient-width);
        height: 100%;
        background: linear-gradient(to bottom, #ffffff41, var(--gradient-color));
        z-index: 1;
      }
      
      .cardNumber {
        color: #FFFFFF;
        font-family: Mont, sans-serif;
        font-size: 1.5rem;
        z-index: 2;
      }
  
      img {
        z-index: 2;
      }
    }
  }