.wrapper {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 0.8fr 6fr;
      
    .main {
        margin-top: 1.9rem;
        background-color: #F5F7FA;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        min-height: 90vh;
        padding-bottom: 0.7rem;
    }

    .balanceItems {
        padding-top: 1.5rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 2rem;
        width: 100%;
        justify-content: space-between;

        .balanceItem {
            text-wrap: nowrap;
            display: flex;
            align-items: center;
            gap: 2rem;
            background-color: #fff;
            padding: 1.7rem 3rem 1.7rem 3rem;
            border-radius: 1.563rem;

            .iconBox {
                img {
                    width: 100px;
                    height: 100px;
                    object-fit: contain;
                }
            }
            
            .itemsBox {
                display: flex;
                flex-direction: column;
                gap: 0.7rem;

                .text {
                    font-size: 1.2rem;
                    color: #718EBF
                }

                .number {
                    font-size: 2rem;
                    font-weight: bold;
                    color: #232323;
                }
            }
        }
    }

    .transactionsBox {
        display: grid;
        grid-template-columns: 2.2fr 0.73fr;
        grid-gap: 7.6rem;
        margin-bottom: 1rem;

        .lastTransactions {
            .titleBox {
                margin-bottom: 1.2rem;
                margin-top: 1.2rem;
                align-items: baseline;

                .title {
                    font-family: Mont, sans-serif;
                    font-size: 1.5rem;
                    font-weight: 600;
                    color: #343C6A;
                }
            }

            .transactionsMain {
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                background-color: #fff;
                padding: 1.5rem;
                border-radius: 1.563rem;

                .transactionsItem {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    text-align: start;
                    align-items: center;

                    .iconBox {
                        img {
                            width: 70px;
                            height: 70px;
                            object-fit: contain;
                        }
                    }

                    .textBox {
                        display: flex;
                        gap: 0.5rem;
                        flex-direction: column;

                        .title {
                            font-size: 1.4rem;
                            font-weight: 600;
                        }

                        .date {
                            font-size: 1.1rem;
                            color: #718EBF;
                        }
                    }

                    .transcationType {
                        font-size: 1.1rem;
                        color: #718EBF;
                    }

                    .card {
                        font-size: 1.1rem;
                        color: #718EBF;
                    }

                    .status {
                        font-size: 1.1rem;
                        color: #718EBF;
                    }

                    .amount {
                        font-size: 1.1rem;
                        color: #718EBF;
                    }

                    .negative {
                        color: #FE5C73;
                    }
                      
                    .positive {
                        color: #16DBAA;
                    } 
                }
            }
        }

        .cardBox {
            margin-top: 0.5rem;
        }
    }

    .overviewBox {
        .overviewMain {
            display: grid;
            grid-template-columns: 2.2fr 0.73fr;
            grid-gap: 7.6rem;
            margin-bottom: 1rem;
        

            .overviewChartBox {
                .overviewTitleBox {
                    margin-bottom: 1.2rem;
                    margin-top: 1.2rem;
                    align-items: baseline;

                    .overviewTitle {
                        font-family: Mont, sans-serif;
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: #343C6A;
                    }
                }

                .overviewChart {
                    background-color: #fff;
                    padding: 1.5rem;
                    border-radius: 1.563rem;

                    canvas {
                        width: 100% !important;
                        height: 100% !important;
                        max-height: 400px !important;
                        background-color: #ffffff !important;
                    }
                }
            }

            .invoiceBox {
                .invoiceTitleBox {
                    margin-bottom: 1.2rem;
                    margin-top: 1.2rem;
                    align-items: baseline;

                    .invoiceTitle {
                        font-family: Mont, sans-serif;
                        font-size: 1.5rem;
                        font-weight: 600;
                        color: #343C6A;
                    }
                }

                .invoiceMainContainer {
                    background-color: #fff;
                    padding: 2rem;
                    border-radius: 1.5rem;
                    display: flex;
                    flex-direction: column;
                    gap: 2.2rem;

                    .invoiceItemContainer {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        .invoiceInfoBox {
                            display: flex;
                            gap: 1.2rem;
                            align-items: center;

                            .iconBox {
                                img {
                                    width: 70px;
                                    height: 70px;
                                    object-fit: contain;
                                }
                            }

                            .textBox {
                                display: flex;
                                flex-direction: column;
                                gap: 0.5rem;

                                .title {
                                    font-size: 1.2rem;
                                    color: #B1B1B1;
                                    font-weight: normal;
                                }

                                .time {
                                    color: #718EBF;
                                }
                            }
                        }

                        .invoicePriceBox {
                            .price {
                                font-size: 1.2rem;
                                color: #718EBF;
                            }
                        }
                    }

                }
            }
        }
    }
}