.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.8fr 6fr;
}
.wrapper .main {
  margin-top: 1.9rem;
  background-color: #F5F7FA;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  min-height: 90vh;
  padding-bottom: 0.7rem;
}
.wrapper .balanceItems {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 100%;
  justify-content: space-between;
}
.wrapper .balanceItems .balanceItem {
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 2rem;
  background-color: #fff;
  padding: 1.7rem 3rem 1.7rem 3rem;
  border-radius: 1.563rem;
}
.wrapper .balanceItems .balanceItem .iconBox img {
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .balanceItems .balanceItem .itemsBox {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.wrapper .balanceItems .balanceItem .itemsBox .text {
  font-size: 1.2rem;
  color: #718EBF;
}
.wrapper .balanceItems .balanceItem .itemsBox .number {
  font-size: 2rem;
  font-weight: bold;
  color: #232323;
}
.wrapper .transactionsBox {
  display: grid;
  grid-template-columns: 2.2fr 0.73fr;
  grid-gap: 7.6rem;
  margin-bottom: 1rem;
}
.wrapper .transactionsBox .lastTransactions .titleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .transactionsBox .lastTransactions .titleBox .title {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1.563rem;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  text-align: start;
  align-items: center;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .iconBox img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .textBox {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .textBox .title {
  font-size: 1.4rem;
  font-weight: 600;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .textBox .date {
  font-size: 1.1rem;
  color: #718EBF;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .transcationType {
  font-size: 1.1rem;
  color: #718EBF;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .card {
  font-size: 1.1rem;
  color: #718EBF;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .status {
  font-size: 1.1rem;
  color: #718EBF;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .amount {
  font-size: 1.1rem;
  color: #718EBF;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .negative {
  color: #FE5C73;
}
.wrapper .transactionsBox .lastTransactions .transactionsMain .transactionsItem .positive {
  color: #16DBAA;
}
.wrapper .transactionsBox .cardBox {
  margin-top: 0.5rem;
}
.wrapper .overviewBox .overviewMain {
  display: grid;
  grid-template-columns: 2.2fr 0.73fr;
  grid-gap: 7.6rem;
  margin-bottom: 1rem;
}
.wrapper .overviewBox .overviewMain .overviewChartBox .overviewTitleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .overviewBox .overviewMain .overviewChartBox .overviewTitleBox .overviewTitle {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .overviewBox .overviewMain .overviewChartBox .overviewChart {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 1.563rem;
}
.wrapper .overviewBox .overviewMain .overviewChartBox .overviewChart canvas {
  width: 100% !important;
  height: 100% !important;
  max-height: 400px !important;
  background-color: #ffffff !important;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceTitleBox {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
  align-items: baseline;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceTitleBox .invoiceTitle {
  font-family: Mont, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  color: #343C6A;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoiceInfoBox {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoiceInfoBox .iconBox img {
  width: 70px;
  height: 70px;
  -o-object-fit: contain;
     object-fit: contain;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoiceInfoBox .textBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoiceInfoBox .textBox .title {
  font-size: 1.2rem;
  color: #B1B1B1;
  font-weight: normal;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoiceInfoBox .textBox .time {
  color: #718EBF;
}
.wrapper .overviewBox .overviewMain .invoiceBox .invoiceMainContainer .invoiceItemContainer .invoicePriceBox .price {
  font-size: 1.2rem;
  color: #718EBF;
}/*# sourceMappingURL=Accounts.module.css.map */