.wrapper {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 0.8fr 6fr;
}
.wrapper .main {
  margin-top: 1.9rem;
  background-color: #F5F7FA;
  min-height: 90vh;
  padding: 1.5rem 2.5rem;
}
.wrapper .main .settingContainer {
  padding: 2rem;
  border-radius: 1.563rem;
  background-color: #ffffff;
}
.wrapper .main .settingContainer .settingTabs {
  display: flex;
  gap: 5.125rem;
  margin-bottom: 0.6rem;
  margin-left: 0.6rem;
}
.wrapper .main .settingContainer .settingTabs .settingTab {
  padding-bottom: 0.3rem;
  margin-bottom: 0.25rem;
  transition: all 0.2s ease-in-out;
  border-bottom: 4px solid transparent;
}
.wrapper .main .settingContainer .settingTabs .settingTab:hover {
  cursor: pointer;
  border-bottom-color: #1814F3;
  border-radius: 10%;
  transform: translateY(-4px);
}
.wrapper .main .settingContainer .editProfile .editProfileContainer {
  display: grid;
  grid-template-columns: 0.3fr 1fr 1fr;
  grid-gap: 2rem;
}
.wrapper .main .settingContainer .editProfile .editProfileContainer .imageBox img {
  max-width: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.wrapper .main .settingContainer .editProfile .editProfileContainer .imageBox .imageLabel {
  position: relative;
  z-index: 9999;
  cursor: pointer;
  bottom: 10px;
  bottom: 60px;
  left: 163px;
}
.wrapper .main .settingContainer .editProfile .editProfileContainer .editProfileInputBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.wrapper .main .settingContainer .editProfile .editProfileContainer .editProfileInputBox .saveBtn {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
.wrapper .main .settingContainer .preferences .preferencesContainer {
  margin-top: 1rem;
}
.wrapper .main .settingContainer .preferences .preferencesContainer .preferencesInputBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.wrapper .main .settingContainer .preferences .preferencesContainer .notificationContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper .main .settingContainer .preferences .preferencesContainer .notificationContainer .notificationTitle {
  font-family: Mont, sans-serif;
  color: #343C6A;
  font-weight: bold;
  padding-top: 1.2rem;
  font-size: 1.2rem;
}
.wrapper .main .settingContainer .preferences .preferencesContainer .notificationContainer .switchBox {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.wrapper .main .settingContainer .preferences .preferencesContainer .saveBtn {
  display: flex;
  align-items: center;
  justify-content: end;
}
.wrapper .main .settingContainer .security .authContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.wrapper .main .settingContainer .security .authContainer .authTitle {
  font-weight: bold;
  font-family: Mont, sans-serif;
  color: #343C6A;
  font-size: 1.2rem;
}
.wrapper .main .settingContainer .security .authContainer .authSwitchBox {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.wrapper .main .settingContainer .security .passwordContainer .passwordTitle {
  font-family: Mont, sans-serif;
  color: #343C6A;
  font-size: 1.2rem;
  font-weight: bold;
  padding-bottom: 1.2rem;
  padding-top: 0.5rem;
}
.wrapper .main .settingContainer .security .passwordContainer .passwordInputBox {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 1.5rem;
}/*# sourceMappingURL=Settings.module.css.map */